#home{
	background-color: black;
}
#code{
 width: 25%;
 height: 25%;
}
#logo{
	width: 25%;
	height: 25%;
}
#flexing{
	width: 25%;
	height: 25%;
	position: absolute;
	left: 1px;
}
#desc{
	border-bottom: 2px solid black;
	color:white;
}
#skyline{
	width: 65%;
	height: 65%;
}
#gm{
	height: 320px;
	width: 400px;
	position: absolute;
    right: 150px;
     bottom: -35px;
}
#social{
	position: absolute;
	right: 100px;
	color:white;
}
#location{
	color:white;
}

#trainers{
	color: black;
}
#pictures{
	border: 2px solid black;
}

#border{
	border-bottom: black;
}

#pic1{
	width: 25%;
	height: 25%;
}
#pic2{
	width: 25%;
	height: 20%;
}
#pic3{
	width: 25%;
	height: 25%;
}
#pic4{
	width: 25%;
	height: 25%;
}
#pic5{
	width: 25%;
	height: 25%;
}
#pic6{
	width: 25%;
	height: 25%;
}
#pic7{
	width: 25%;
	height: 25%;
}
#pic8{
	width: 25%;
	height: 25%;
}
#pic9{
	width: 25%;
	height: 25%;
}
#pic10{
	width: 25%;
	height: 25%;
}
#pic11{
	width: 25%;
	height: 25%;
}
#pic12{
	width: 25%;
	height: 25%;
}